.title {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  color: white;
  letter-spacing: 3px;
  @media screen and (max-width: 600px) {
    text-align: center;
  }
  .title_number {
    color: darkgray;
  }
}

.technology_page {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 28px;
  color: white;
  letter-spacing: 3px;
  @media screen and (600px <= width <= 900px) {
    padding: 20px 100px;
  }
  @media screen and (max-width: 600px) {
    text-align: center;
  }
  .title_number {
    color: darkgray;
  }
}
