.unselected {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  letter-spacing: 2.7px;
  &:hover {
    border-bottom: 2px solid grey;
    cursor: pointer;
  }
}
.selected {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  letter-spacing: 2.7px;
  border-bottom: 2px solid white;
}
