.container {
  // margin: 60px 0 0 50px;
  position: relative;
  // display: flex;
  // margin-top: 100px;
  padding-top: 20px;
  .header_container {
    // position: absolute;
    display: flex;
    align-items: center;
    margin: 40px 0 0 60px;
    // height: 100px;
    height: 96px;
    .img_container {
      cursor: pointer;
    }
    @media screen and (min-width: 900px) {
      .line_box_container {
        width: 20vw;
        position: relative;
        left: 100px;
        z-index: 2;
        .line_box {
          border-bottom: 0.5px solid #d0d6f9;
          height: 50%;
        }
      }
    }
    .link_container {
      display: flex;
      background-color: rgba(151, 151, 151, 0.04);
      backdrop-filter: blur(50px);
      right: 0;
      padding: 0 60px;
      height: inherit;
      @media screen and (min-width: 600px) and (max-width: 900px) {
        // padding: 0 30px;
        position: fixed;
        right: 0;
      }
      letter-spacing: 2.36px;
      .link {
        display: flex;
        font-size: 16px;
        position: relative;
        @media screen and (min-width: 600px) and (max-width: 900px) {
          margin: 0 20px;
          font-size: 14px;
        }
        @media screen and (min-width: 900px) {
          margin: 0 30px;
          &:first-child {
            padding-left: 30px;
          }
          &:last-child {
            padding-right: 20px;
          }
        }
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        &:hover {
          border-bottom: 5px solid #979797;
        }
        .span_container {
          display: flex;
          span: {
            height: 100%;
            display: block;
          }

          @media screen and (max-width: 900px) {
            .link_number {
              display: none;
            }
          }
          @media screen and (min-width: 900px) {
            .link_number {
              margin-right: 11px;
              font-weight: bold;
            }
          }
        }
      }
      .selected {
        display: flex;
        font-size: 16px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        border-bottom: 5px solid white;
        box-sizing: border-box;
        @media screen and (min-width: 600px) and (max-width: 900px) {
          margin: 0 20px;
          font-size: 14px;
        }
        @media screen and (min-width: 900px) {
          margin: 0 30px;
          &:first-child {
            padding-left: 30px;
          }
          &:last-child {
            padding-right: 20px;
          }
        }

        .span_container {
          display: flex;

          @media screen and (max-width: 900px) {
            .link_number {
              display: none;
            }
          }
          @media screen and (min-width: 900px) {
            .link_number {
              font-weight: bold;
              margin-right: 11px;
            }
          }
        }
      }
    }
  }
}
