.container {
  .header_container {
    position: fixed;
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    .logo_container {
      width: 100%;
      margin-left: 30px;
      // background-color: blue;
    }
    .hambug_container {
      // width: 100%;
      margin-right: 30px;
      z-index: 1;
    }
  }
  .modal_container {
    position: fixed;
    width: 60%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(30px);
    // background-color: orange;
    right: 0;
    .btn_x {
      position: fixed;
      right: 30px;
      top: 39.5px;
    }
    .link_container {
      display: flex;
      flex-direction: column;
      margin-top: 150px;
      .link {
        padding: 10px 30px;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 24px;
        color: white;
        text-decoration: none;
        width: 100%;
        .link_number {
          padding-right: 5px;
          font-weight: bold;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
      .selected {
        padding: 10px 30px;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 24px;
        color: white;
        text-decoration: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        .link_number {
          padding-right: 5px;
          font-weight: bold;
        }
      }
    }
  }
}
