.container {
  // margin: 60px 0 0 50px;
  position: relative;
  // display: flex;
  // margin-top: 100px;
  padding-top: 20px;
  .header_container {
    // position: absolute;
    display: flex;
    align-items: center;
    margin: 40px 0 0 60px;
    .line_box_container {
      width: 30%;
      position: relative;
      left: 100px;
      z-index: 2;
      .line_box {
        border-bottom: 0.5px solid #d0d6f9;
        height: 50%;
      }
    }
    .link_container {
      display: flex;
      height: 100px;
      background-color: rgba(0, 0, 0, 0.04);
      backdrop-filter: blur(50px);
      position: absolute;
      right: 0;
      overflow: hidden;
      padding: 0 60px;
      .link {
        display: flex;
        font-size: 14px;
        position: relative;
        padding: 0 50px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        margin: 0 20px;
        span {
          height: 100%;
          display: flex;
          align-items: center;
          &:hover {
            border-bottom: 2px solid grey;
          }
        }
      }
      .selected {
        display: flex;
        font-size: 14px;
        position: relative;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        padding: 0 50px;
        margin: 0 20px;

        span {
          height: 100%;
          display: flex;
          align-items: center;
          border-bottom: 2px solid white;
        }
      }
    }
  }
}
