.container {
  @media screen and (max-width: 600px) {
    background-image: url("/assets/crew/background-crew-mobile.jpg");
  }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    background-image: url("/assets/crew/background-crew-tablet.jpg");
  }
  @media screen and (min-width: 900px) {
    background-image: url("/assets/crew/background-crew-desktop.jpg");
  }
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  .body_container {
    position: absolute;
    top: 100px;
    padding: 20px 100px;
    margin-top: 100px;
    @media screen and (max-width: 600px) {
      position: relative;
      margin-top: 10px;
      padding: 0px;
    }
    .div_container {
      display: flex;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
      .text_container {
        margin-top: 100px;
        @media screen and (max-width: 600px) {
          order: 2;
          display: flex;
          flex-direction: column;
        }
        @media screen and (max-width: 900px) {
          margin-top: 30px;
        }
        .crew_role {
          font-family: "Bellefair", sans-serif;
          color: #979797;
          font-size: 32px;
          padding: 10px 0;
          @media screen and (max-width: 900px) {
            text-align: center;
          }
          @media screen and (max-width: 600px) {
            order: 2;
            font-size: 18px;
          }
        }
        .crew_name {
          font-family: "Bellefair", sans-serif;
          color: white;
          font-size: 56px;
          @media screen and (max-width: 900px) {
            text-align: center;
          }
          @media screen and (max-width: 600px) {
            order: 3;
            font-size: 24px;
            margin-bottom: 20px;
            padding: 10px 0;
          }
          @media screen and (min-width: 900px) {
            padding: 15px 0;
          }
          @media screen and (min-width: 600px) and (max-width: 900px) {
            padding: 15px 0;
          }
        }
        .crew_bio {
          font-family: "Barlow Condensed", sans-serif;
          color: #d0d6f9;
          font-size: 20px;
          padding: 20px 0;
          width: 50%;
          height: 130px;
          @media screen and (min-width: 600px) and (max-width: 900px) {
            font-size: 16px;
            width: 57%;
            padding: 0;
            margin: auto;
            text-align: center;
            line-height: 28px;
          }
          @media screen and (max-width: 600px) {
            order: 4;
            width: 60%;
            padding: 0;
            font-size: 15px;
            margin: auto;
            text-align: center;
            line-height: 25px;
          }
          @media screen and (min-width: 900px) {
            line-height: 32px;
          }
        }
        .btn_container {
          display: flex;
          margin-top: 80px;
          @media screen and (max-width: 900px) {
            justify-content: center;
            margin-top: 0;
            margin-bottom: 20px;
          }
          div {
            width: 15px;
            height: 15px;
            @media screen and (max-width: 600px) {
              width: 12px;
              height: 12px;
            }
            background-color: #979797;
            border-radius: 50%;
            margin-right: 25px;
            @media screen and (max-width: 900px) {
              margin: 0 10px;
            }
            cursor: pointer;
          }
          .active_btn {
            background-color: #fff;
          }
        }
      }
      .img_container {
        @media screen and (min-width: 600px) and (max-width: 900px) {
          display: flex;
          justify-content: center;
          img {
            width: 80%;
            height: 80%;
          }
        }
        @media screen and (max-width: 600px) {
          display: flex;
          justify-content: center;
          margin: 30px 20px 0;
          border-bottom: 0.3px solid #979797;
          img {
            width: 167px;
            height: 228px;
          }
        }
      }
    }
  }
}
