.container {
  background-image: url("/assets/home/background-home-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  .body_container {
    padding: 100px;
    margin-top: 150px;
    display: flex;
    .text_container {
      width: 50%;
      .heading_five {
        span {
          font-family: "Barlow Condensed", sans-serif;
          font-size: 28px;
          letter-spacing: 4.75px;
          color: #d0d6f9;
        }
      }
      .heading_one {
        span {
          font-family: "Bellefair", sans-serif;
          font-size: 150px;
          color: white;
        }
      }
      p {
        width: 70%;
        color: #d0d6f9;
      }
    }
    .btn_container {
      margin: auto;
      position: absolute;
      bottom: 160px;
      right: 150px;
      .btn {
        width: 300px;
        height: 300px;
        display: flex;
        background-color: white;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        span {
          font-family: "Bellefair", sans-serif;
          font-size: 24px;
        }
        &:hover {
          outline: solid 30px rgba(151, 151, 151, 0.4);
          transition: outline 0.3s linear;
        }
      }
    }
  }
}
