.container {
  @media screen and (max-width: 600px) {
    background-image: url("/assets/technology/background-technology-mobile.jpg");
  }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    background-image: url("/assets/technology/background-technology-tablet.jpg");
  }
  @media screen and (min-width: 900px) {
    background-image: url("/assets/technology/background-technology-desktop.jpg");
  }
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  .body_container {
    position: absolute;
    top: 100px;
    @media screen and (min-width: 900px) {
      margin-top: 100px;
      padding: 20px 100px;
    }
    @media screen and (min-width: 600px) and (max-width: 900px) {
      margin-top: 100px;
    }

    @media screen and (max-width: 600px) {
      position: relative;
      margin-top: 10px;
      padding: 0px;
    }

    .div_container {
      display: flex;
      margin-top: 100px;
      @media screen and (max-width: 900px) {
        flex-direction: column;
      }
      @media screen and (max-width: 600px) {
        margin-top: 20px;
      }

      .btn_container {
        margin-right: 50px;
        @media screen and (min-width: 600px) and (max-width: 900px) {
          order: 2;
          display: flex;
          justify-content: center;
          margin: 30px 0 0 0;
        }
        @media screen and (max-width: 600px) {
          order: 2;
          display: flex;
          justify-content: center;
          margin: 30px 0;
        }
        div {
          width: 84px;
          height: 84px;
          font-size: 24px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          @media screen and (min-width: 600px) and (max-width: 900px) {
            margin: 0 10px;
          }
          @media screen and (max-width: 600px) {
            width: 40px;
            height: 40px;
            margin: 0 10px;
            font-size: 16px;
          }
        }
        .active_btn {
        }
        .btn {
          background-color: transparent;
          color: white;
          border: 0.5px solid #979797;
        }
      }
      .text_container {
        color: #d0d6f9;
        @media screen and (max-width: 900px) {
          order: 3;
          margin-top: 30px;
          text-align: center;
        }
        @media screen and (max-width: 600px) {
          margin-top: 0px;
        }
        .mini_title {
          margin-bottom: 15px;
        }
        .name {
          font-family: "Bellefair", sans-serif;
          color: white;
          font-size: 56px;
          margin-bottom: 20px;
          @media screen and (max-width: 600px) {
            font-size: 32px;
          }
        }
        .description {
          width: 60%;
          @media screen and (min-width: 600px) and (max-width: 900px) {
            margin: auto;
            width: 50%;
          }
          @media screen and (max-width: 600px) {
            width: 80%;
            margin: auto;
          }
        }
      }
      .img_container {
        // position: relative;
        // bottom: 100px;
        display: flex;
        justify-content: center;
        @media screen and (min-width: 900px) {
          .tabletImage {
            display: none;
          }
        }
        @media screen and (min-width: 600px) and (max-width: 900px) {
          order: 1;
          bottom: 50px;
          .desktopImage {
            display: none;
          }
          .tabletImage {
            width: 100vw;
            height: 30vh;
          }
        }
        @media screen and (max-width: 600px) {
          order: 1;
          .desktopImage {
            display: none;
          }
          .tabletImage {
            width: 100vw;
            height: 25vh;
          }
        }
      }
    }
  }
}
