.container {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: fixed;
  .body_container {
    position: absolute;
    top: 100px;
    margin-top: 100px;
    padding: 20px 100px;
    .div_container {
      display: flex;
      margin-top: 100px;
      .btn_container {
        margin-right: 50px;
        div {
          width: 84px;
          height: 84px;
          font-size: 24px;
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
        }
        .active_btn {
        }
        .btn {
          background-color: transparent;
          color: white;
          border: 0.5px solid #979797;
        }
      }
      .text_container {
        color: #d0d6f9;
        .mini_title {
          margin-bottom: 15px;
        }
        .name {
          font-family: "Bellefair", sans-serif;
          color: white;
          font-size: 56px;
          margin-bottom: 20px;
        }
        .description {
          width: 50%;
        }
      }
      .img_container {
        position: relative;
        // right: -80px;
        bottom: 100px;
      }
    }
  }
}
